venv/
__pycache__/
*.pyc
*.pyo
*.pyd

best_model.pth

.streamlit/
.env
retina.png
retina2.png
test.jpg
test_quality.py

gradcam_result.png
retina_test.png
retina_test2.png
retina_test3.png
test_gradcam.py
app.py
backend.py
